# Do not track secrets
nubis/packer/variables.json
nubis/terraform/variables.tfvars
nubis/terraform/terraform.tfvars
nubis/terraform/terraform.tfstate
nubis/terraform/terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
